// Color Variables
$primary-color: #D9D3C1;
$secondary-color: #735C40;
$text-color: #4c4c4c;
$text-color-dark: #000;
$text-color-light: #999;
$body-color: #fff;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #eaeaea;

// Font Variables
$primary-font: 'Lora',  sans-serif;
$secondary-font: 'Source Sans Pro', serif;
//$tertiary-font: 'BwNistaInt-xBd';
$tertiary-font: 'Raleway';
$icon-font: 'themify';
